*{
    padding: 0;
    margin: 0;
}
.navbar ul{
    margin-top: px;
    
}
.navbar ul{
        
}

.navbar ul li{
    display:inline;
    vertical-align: middle;
    font-size:.9375rem;
    font-family:  Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    

    
} 
.navbar ul li:first-child {
    padding-left: 150px;
 }
 
 .navbar ul li:nth-child(2) {
    padding-left: 40px; 
 }
 .navbar ul li:nth-child(3) {
    padding-left:20px; 
 }
 .navbar ul li:nth-child(4) {
    padding-left: 25px; 
 }
 .navbar ul li:nth-child(5) {
    padding-left: 15px; 
 }
 .navbar ul li:nth-child(6) {
    padding-left: 15px; 
 } 
 .navbar ul li:nth-child(7) {
   padding-left: 320px; 
} 
.navbar ul li:nth-child(8) {
   padding-left:30px; 
}
 
 
 header{
    background-image: url(Screenshot_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
   
}